.site {
  display: grid;
  min-height: 100vh;
  min-width: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
      "title title"
      "sidemenu main"
      "footer footer";
  grid-gap: 5px;
}

.title {
  grid-area: title;
  background-color: green;
}

.maincontent {
  grid-area: main;
  background-color: blue;
}

.sidemenu {
  grid-area: sidemenu;
  background-color: orange;
}

.footer {
  grid-area: footer;
  background-color: gray;
}


@media screen and (min-width: 500px) {
  .site {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
      "title title title"
      "sidemenu main main"
      "sidemenu footer footer";
  }
}

@media screen and (min-width: 960px) {
  .site {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
      "sidemenu main main title"
      "sidemenu main main title"
      "sidemenu footer footer footer";
  }
}
